.form-text input[type="number"] {
    width: 50px;
}

.checkbox-textbox {}

.form-text .formlist {
    background: #e9e9e9;
}

.shortlabel {
    width: 70px;
}

.form-text .label {
    width: 800px;
    background: white;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

.title {
    font-size: 54px;
    font-weight: 300;
    margin-bottom: 54px;
}

.title small {
    font-size: 16px;
}

.link {
    display: block;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 54px;
}

.checkbox-input {
    display: none;
}

.checkbox-textlayout {
    width: 200px;
    float: left;
}

.checkbox-label,
.checkbox-text,
.checkbox-text--description {
    transition: all 0.4s ease;
}

.checkbox-label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    padding: 30px 60px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 #faa74b;
}

.checkbox-label:before {
    content: "";
    position: absolute;
    top: 75%;
    right: 16px;
    width: 40px;
    height: 40px;
    opacity: 0;
    background-color: #faa74b;
    background-image: url(http://lorenzodianni.io/codepen/icon/done--white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    transition: all 0.4s ease;
}

.checkbox-text--title {
    font-weight: 500;
    color: black;
}

.checkbox-text--description {
    font-size: 14px;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #faa74b;
}

.checkbox-text--description .un {
    display: none;
}

.checkbox-input:checked+.checkbox-label {
    border-color: #faa74b;
    box-shadow: inset 0 -12px 0 0 #faa74b;
}

.checkbox-input:checked+.checkbox-label:before {
    top: 0;
    opacity: 1;
}

.checkbox-input:checked+.checkbox-label .checkbox-text {
    -webkit-transform: translate(0, -8px);
    transform: translate(0, -8px);
}

.checkbox-input:checked+.checkbox-label .checkbox-text--description {
    border-color: #d9d9d9;
}

.checkbox-input:checked+.checkbox-label .checkbox-text--description .un {
    display: inline-block;
}

@media screen and (min-width: 540px) {
    .checkbox-label {
        width: 450px;
        margin: 16px;
    }
}